### Problem1: Nested Lists

In [1]:
import pandas as pd
import numpy as np

In [2]:
## Print the name(s) of any student(s) having the second lowest grade in. 
## If there are multiple students, order their names alphabetically and print each one on a new line.

students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [3]:
for i in range(len(students)):
    
    low1 = students[0][1]
    index_high = 0
    
    for j in range(len(students)):
        if low1 > students[j][1]:
            low1 = students[j][1]
            index = j


    print("first high", low1, index)

#Make a list of avoiding the highest scorer
students1 = students.pop(index)

students

first high 37.2 2
first high 37.2 2
first high 37.2 2
first high 37.2 2
first high 37.2 2

[['Harry', 37.21], ['Berry', 37.21], ['Akriti', 41], ['Harsh', 39]]

In [4]:
students2 = students.copy()
students2

[['Harry', 37.21], ['Berry', 37.21], ['Akriti', 41], ['Harsh', 39]]

In [5]:
students2

for i in range(len(students2)):
    
    low2 = students2[0][1]
    index_low = 0
    
    for j in range(len(students2)):
        if low2 > students2[j][1]:
            low2 = students2[j][1]
            index_low = j


    print("first low2", low2, index_low)

first low2 37.21 0
first low2 37.21 0
first low2 37.21 0
first low2 37.21 0

In [6]:
students2

Name_list = []
min1 = students2[0][1]

for j in range(len(students2)):
    if students2[j][1] <= min1:
        Name_list.append(students2[j][0])
        
Name_list

['Harry', 'Berry']

In [7]:
#Step 3: Arrange the students in alphabetical order

print(sorted(Name_list))

['Berry', 'Harry']

In [8]:
#Create a new list from the last by sending two as input



# for i in range(0, 2):
#     min1 = 0
#     print(min1)
min1 = 0
for j in range(len(students2)):
    if students2[j][1] < min1:
        print(min1, students2[j][1])
        min1 = students2[j][1] #get the min of the number
        ind = j ##get the index of the highest number
        #final_list.append(students2.pop(index)) #pop that sub-list from the big list
        #print(final_list)

In [10]:
def Nmaxelements(list1, N):
    final_list = []
 
    for i in range(0, N):
        max1 = 0
 
        for j in range(len(list1)):
            if list1[j] > max1:
                max1 = list1[j]
 
        list1.remove(max1)
        final_list.append(max1)
 
    print(final_list)

list1 = [2, 6, 41, 85, 0, 3, 7, 6, 10]
N = 2